extends ./layouts/index

block content 
  .second-page-heading
    .container
      .row
        .col-lg-12
          h4 ¡Que no te ganen el lugar!
          h2 Realiza Tu Reservación
          p
            | El precio de la reservación varía dependiendo del nivel de plan que hayas seleccionado. Una vez hayas realizado la reservación, en cuestión de 5-10 días hábiles se te mandará el itinerario del viaje al destino que hayas seleccionado.
  .more-info.reservation-info
    .container
      .row
        .col-lg-4.col-sm-6
          .info-item
            i.fa.fa-phone
            h4 Llámanos al teléfono
            a(href='tel:+52 899 124 9960') +52 899 124 9960
        .col-lg-4.col-sm-6
          .info-item
            i.fa.fa-envelope
            h4 Contáctanos por correo
            a(href='mailto:brandongaona03@hotmail.com') brandongaona03@hotmail.com
        .col-lg-4.col-sm-6
          .info-item
            i.fa.fa-map-marker
            h4 Visita nuestras oficinas
            a(href='#') Paseo de la Reforma #153, CDMX
  .reservation-form
    .container
      .row
        .col-lg-12
          #map(style='width: 100%; height: 500px; border:0; border-top-left-radius: 23px; border-top-right-radius: 23px;')
        .col-lg-12
          form#reservation-form(action='/reservation' method='POST')
            .row
              if(message) 
                .text-center.mb-3(style="color: #9b9691; font-size: 1.5rem;") #{message}
              .col-lg-12
                h4
                  | Realiza Tu 
                  em Reservación 
                  |  Mediante Este 
                  em Formulario 
              .col-lg-6
                fieldset
                  label.form-label(for='Name') Tu nombre
                  if session 
                    input(type="hidden" name="user_id" value=`${session.id}`)
                    input.Name(type='text' name='name' value=`${session.name} ${session.lastname}` disabled)
                  else
                    input.Name(type='text' name='name' placeholder='Ejemplo: Juan Pérez' autocomplete='on' required='')
              .col-lg-6
                fieldset
                  label.form-label(for='Number') Tu número de teléfono
                  input.Number(type='text' name='phone_number' placeholder='Ejemplo: 899 225 6587' autocomplete='on' required='')
              .col-lg-6
                fieldset
                  label.form-label(for='chooseGuests') Número de integrantes
                  select#chooseGuests.form-select(name='guests' aria-label='Default select example' onchange='this.form.click()')
                    option(selected='') Ejemplo: 3 o 4 o 5
                    option(value='1') 1
                    option(value='2') 2
                    option(value='3') 3
                    option(value='4') 4
                    option(value='5') 5
                    option(value='6') 6
                    option(value='7') 7
                    option(value='8') 8
              .col-lg-6
                fieldset
                  label.form-label(for='Number') Fecha de registro (inicio)
                  input.date(type='date' name='check_in' required='')
              .col-lg-12
                fieldset
                  label.form-label(for='chooseDestination') Escoge tu destino
                  select#chooseCategory.form-select(name='magicTown' aria-label='Default select example' onchange='this.form.click()')
                    option(selected='') Ejemplo: Lagos de Moreno, Jalisco
                    each magicTown in magicTowns
                      option(value=`${magicTown.magicTown}`) #{magicTown.magicTown}
              .col-lg-12
                fieldset
                  label.form-label(for='chooseDestination') Escoge tu plan
                  select#chooseCategory.form-select(name='plan_id' aria-label='Default select example' onchange='this.form.click()')
                    option(selected='') Ejemplo: Básico
                    each plan in plans
                      option(value=`${plan.id}`) #{plan.plan}
              .col-lg-12
                fieldset
                  button.main-button Haz tu reservación ahora

block script 
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyARAHcjsIIgCgDiP1W4ARujOM3oiammG9w&callback=initMap' async defer)
  script(src='../build/vendor/jquery/jquery.min.js')
  script(src='../build/vendor/bootstrap/js/bootstrap.min.js')
  script(src='../build/js/isotope.min.js')
  script(src='../build/js/owl-carousel.js')
  //- script(src='../build/js/wow.js')
  script(src='../build/js/tabs.js')
  script(src='../build/js/popup.js')
  script(src='../build/js/custom.js')
  script(src='../../build/js/app.js')
  script.
    $(".option").click(function () {
    $(".option").removeClass("active");
    $(this).addClass("active");
    });
