each plan in plans
  .item
    .thumb
      img(src=`${plan.image}` alt='Imagen del lugar' style="min-height: 300px; height: 100%; object-fit: cover;")
      .text
        h4
          | #{plan.plan}
          br
          span
            i.fa.fa-users
            |  #{plan.registered_people} registros
        h6
          | $#{plan.price} USD
          br
          span /persona
        .line-dec
        ul
          li Servicios incluidos:
          each service in plan.services.split("#")
            li
              | &#x2022; #{service}
        .main-button
          a(href='/reservation') Reserva ahora